<div class="book">
    <table>
        <tr>
            <td style="width: 25%;">
                <img src="../public/images/<%- book.picture %>" width="315px" height="400px"/>
            </td>
            <td style="width: 55%;">
                <h2><%- book.name %></h2>
                <p><%- book.summary %></p>
                <p><%- book.author %></p>
            </td>
        </tr>
    </table>
</div>